html {
	padding: 0 40px;
}

body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin: auto;
	min-width: 768px;
  max-width: 1200px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	background-color: #f2f2f2;
	box-shadow: 0px 0px 15px 0px #333;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 100;
  src:
			url("../fonts/PT_Sans-Web-Regular.ttf")
			url("../fonts/PT_Sans-Web-Italic.ttf");
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src:
			url("../fonts/PT_Sans-Web-Bold.ttf"),
			url("../fonts/PT_Sans-Web-BoldItalic.ttf");
}

a {
	text-decoration: none;
}

li {
	 list-style-type: none;
}

img {
	display: block;
}

.main-nav a{
	font-weight: bold;
	line-height: 26px;
	color: #333333;
}

.main-nav a:hover,
.main-nav a:focus {
	color: #89b8d5;
}

.main-nav a:active {
	color: #c7c7c7;
}

.main-nav li.active a {
	color: #766357;
}

.promo-title {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.promo-text {
	line-height: 26px;
	color: #808080;
}

.reason-title {
	font-weight: bold;
	font-size: 21px;
	color: #ffffff;
}

.reason-about {
	background-color: #81b3d2;
}

.reason-number {
	color: #ffffff;
}

.reason-text {
	padding-top: 5px;
	line-height: 26px;
	color: #ffffff;
}

.reason-secondary {
	background-color: #eeeeee;
}

.reason-secondary .reason-title{
	color: #333333;
}

.reason-secondary .reason-number {
	color: #333333;
}

.reason-secondary .reason-text {
	color: #333333;
}

.offers-title {
	padding-top: 7px;
	font-weight: bold;
	font-size: 21px;
}

.offers-text {
	margin-top: 5px;
}

.appointment-title {
	margin-top: -1px;
	font-weight: bold;
	font-size: 30px;
}

.appointment-text {
	margin-bottom: 40px;
	line-height: 26px;
	color: #808080;
}

.field-appointment-input {
	background-color: #f2f2f2;
}

.field-appointment-input:hover {
	background-color: #ebebeb;
}

.field-appointment-input:focus {
	background-color: #ffffff;
}

.field-appointment-text {
	font-weight: bold;
	line-height: 26px;
	color: inherit;
}

.field-appointment-button {
	font-weight: bold;
	text-transform: inherit;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2;
}

.field-appointment-button:hover,
.field-appointment-button:focus {
	background-color: #669ec0;
}

.field-appointment-button:active {
	background-color: #5496bd;
	color: #629fc2;
}

.calendar-icon {
	position: absolute;
	fill: #cdcdcd;
}

.calendar-icon:hover {
	fill: #000000;
}

.calendar-icon:active {
	fill: #81b3d2;
}

/* Разметка футера */

.hashtag a {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color:inherit;
}

.hashtag a:hover,
.hashtag a:focus {
	color: #81b3d2;
}

.hashtag a:active {
	color: #c7c7c7;
}


.hashtag {
	margin-left: 20px;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 150px;
}

.social-icon {
	fill: #ffffff;
}

.social-link:hover {
	background-color: #669ec0;
}

.social-link:active,
.social-icon:active {
	background-color: #5496bd;
	fill: #88b6d1;
}

.footer-copyright {
	line-height: 26px;
}

.htmlacademy-logo {
	fill: #231f20;
}

.htmlacademy-logo:hover,
.htmlacademy-logo:focus {
	fill: #81b3d2;
}

.htmlacademy-logo:active {
	fill: #bdbbbc;
}

/* Стили страницы Седона-каталог */

.main-form  {
	width: 1200px;
 	margin-bottom: -17px;
	background: #81b3d2 url("../img/background-foto.jpg") no-repeat;
}

.field-group-title {
 font-weight: bold;
 font-size: 16px;
 color: #ffffff;
}

.field-checkbox-text {
	color: #ffffff;
}

.results-sum {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.results-sorting {
	font-size: 12px;
	line-height: 18px;
	color: #b1b1b1;
}

.results-title {
 	font-size: 12px;
 	line-height: 18px;
}

.results-sorting-price {
	color: #81b3d2;
}

.results-sorting-item {
	color: #b2b2b2;
}

.results-sorting-item.dotted {
	border-bottom: 1px dotted #b3d1e4;
}

.results-sorting-item:hover,
.results-sorting-item:focus {
	color: #81b3d2;
}

.results-sorting-item:active {
	color: #333333;
}

.hotel-title {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.hotel-rating {
	background-color: #f2f2f2;
}

.hotel-title:hover,
.hotel-title:focus {
	color: #81b3d2;
}

.hotel-title:active {
	color: #b2b2b2;
}

.hotel-detail {
	padding: 3px 17px;
	background-color: #81b3d2;
	text-transform: inherit;
	color: #ffffff;
}

.hotel-detail:hover,
.hotel-detail:focus {
	background-color: #669ec0;
}

.hotel-detail:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.hotel-reserve {
	padding: 3px 17px;
	margin-left: 6px;
	background-color: #766357;
	text-transform: inherit;
	color: #ffffff;
}

.hotel-reserve:hover,
.hotel-reserve:focus {
	background-color: #604e43;
}

.hotel-reserve:active {
	background-color: #503e33;
	color: #706158;
}

.footer-copyright-by {
	position: relative;
	top: -5px;
}

.visually-hidden {
	position: absolute;
  width: 0px;
  min-height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: ret(0 0 0 0);
  overflow: hidden;
}

.field-checkbox-label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 23px;
}

.field-checkbox-label input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.field-checkbox-label input[type="checkbox"]:not(:checked) + .checkbox-indicator {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.field-checkbox-label input[type="checkbox"]:disabled + .checkbox-indicator {
  opacity: 0.3;
}

/* Сеточные стили */

.main-nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding: 15px 0px 15px 0px;
	background-color: #ffffff;
}

.main-nav li:nth-child(2) {
	margin-right: auto;
}

.main-nav li {
	width: 20%;
	text-align: center;
}

.main-menu {
	position: relative;
	width: 1200px;
}

.logo {
	display: inline-block;
	position: absolute;
	width: 137px;
	left: 0;
  right: 0;
	margin: 0 auto;
	cursor: pointer;
}

.promo-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 1200px;
	background-color: #ffffff;
}

.promo-block-img {
	margin-top: -55px;
}

.promo-title {
	padding-top: 42px;
}

.promo-text {
	padding-bottom: 35px;
}

.reason {
	display: flex;
	width: 1200px;
}

.reason-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
	padding-right: 60px;
	padding-left: 60px;
	text-align: center;
}

.offers {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	margin-bottom: -20px;
	width: 1200px;
	background-color: #ffffff;
}

.offers-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 85px;
}

.offers-food-img {
	margin-top: 1px;
}

.offers-box-img {
	margin-top: -4px;
}

.offers-title.correct {
	margin-bottom: 17px;
}

.reason-items {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	width: 1200px;
	background-color: #eeeeee;
}

.reason-features {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 44px;
	color: inherit;
}

.reason-picture.secondary-img {
	order: -1;
}
.appointment {
	text-align: center;
	padding-top: 58px;
	height: 292px;
	width: 1200px;
	background-color: #ffffff;
}

/* Всплывающая форма*/

.appointment-button {
	width: 570px;
	padding: 35px 0px;
	padding-bottom: 30px;
	border: 0;
	font-weight: bold;
	letter-spacing: 0.6px;
	font-size: 21px;
	line-height: 26px;
	background-color: #766357;
	color: #ffffff;
	font-family: inherit;
	text-transform: uppercase;
}

.appointment-button:hover,
.appointment-button:focus {
	background-color: #604e43;
}

.appointment-button:active {
	background-color: #503e33;
	color: #857871;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.field-appointment-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: calc(50% - 287px);
  text-align: left;
  font-weight: 700;
  width: 574px;
  padding-top: 50px;
	margin-right: 20px;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0,1,1,0.15);
}

.field-appointment-item {
  display: flex;
  align-items: center;
  width: 460px;
  margin-bottom: 30px;
}

.adult-count-wrapper {
  display: flex;
  align-items: center;
  width: 320px;
  text-align: center;
}

.adult-count-wrapper:nth-child(2) label {
  margin-left: 45px;
}

.adult-count.minus {
  margin-left: auto;
}

.field-appointment-item input {
  display: inline-block;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
}

.child-count.minus,
.field-appointment-item input[type="text"] {
  margin-left: auto;
}

.plus,
.minus {
	font-size: 21px;
	font-weight: bold;
}

.field-appointment-input {
	color: #333333;
	text-transform: uppercase;
	font-family: inherit;
	font-size: inherit;
	line-height: 26px;
	font-size: bold;

}

.field-appointment-item input:hover {
  background-color: #ebebeb;
}

.field-appointment-item input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
}

.field-appointment-item button {
  background-color: #f2f2f2;
  color: #a9a9a9;
  border: none;
  height: 38px;
  width: 38px;
}

.field-appointment-item svg {
  padding: 8px;
  background-color:  #f2f2f2;
}

.field-appointment-item svg path{
  fill: #a9a9a9;
}

.field-appointment-item svg:hover path,
.field-appointment-item svg:focus path {
  fill: black;
}

.field-appointment-item svg:active path {
  fill: #81b3d2;
}

.field-appointment-item:nth-child(1) input,
.field-appointment-item:nth-child(2) input {
  width: 300px;
}

.field-appointment-item button:hover,
.field-appointment-item button:focus {
  color: black;
}

.field-appointment-item button:active {
  color: #81b3d2;
}

.field-appointment-btn {
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 24px;
  margin-bottom: 56px;
  text-transform: uppercase;
	font-size: 21px;
	font-family: inherit;
  color: white;
  background-color: #81b3d2;
  border: none;
}

.field-appointment-btn:hover,
.field-appointment-btn:focus {
  background-color: #669ec0;
}

.field-appointment-btn:active {
  color: rgba(256,256,256,0.3);
  background-color: #5496bd;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0px;
	width: 1200px;
	background-color: #ffffff;
}

.footer-copyright {
	display: flex;
	align-items: center;
	width: 198px;
	justify-content: space-between;
}

.map-nav {
	padding:0;
	margin:0;
 	margin-top: -59px;
}

.field-group-form {
	display: flex;
	justify-content: space-around;
	padding-top: 11px;
  padding-bottom: 48px;
	width: 1200px;
}

.field-group.infostruction {
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

.field-group.suite {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: -40px;
}

.results {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 42px;
	padding-top: 23px;
	padding-bottom: 23px;
	width: 1158px;
	background-color: #ffffff;
}

.results-sorting {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-right: 400px;
	width: 245px;
}

.sort-arrow {
	margin-right: 45px;
}

.sort-arrow-up {
	margin-right: 8px;
	fill: #cacaca;
}

.sort-arrow-down {
	fill: #cacaca;
}

.sort-arrow-down.active-arrow {
	fill: #81b3d2;
}

.sort-arrow-up:hover,
.sort-arrow-up:focus,
.sort-arrow-down:hover,
.sort-arrow-down:focus {
	fill: #231f20;
}

.sort-arrow-up:active,
.sort-arrow-down:active {
	fill: #81b3d2;
}

.hotel {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 72px;
	width: 1128px;
	background-color: #ffffff;
}

.hotel-about {
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: 30px;
	margin-top: 30px;
  margin-bottom: 30px;
}

.hotel-title {
	margin-top: -3px;
}

.hotel-price {
	display: flex;
	justify-content: space-between;
	font-weight: normal;
	width: 180px;
	margin-top: -15px;
}

.hotel-button {
	display: flex;
	justify-content: space-between;
	width: 258;
}

.hotel-grade {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-right: 73px;
	font-weight: normal;
}

.hotel-stars-1{
	display: inline-block;
	margin-left: 49px;
	margin-bottom: 48px;
	height: 17px;
	width: 71px;
	background: url("../img/star.svg") repeat;
}

.hotel-stars-2{
	display: inline-block;
	margin-left: 60px;
	margin-bottom: 48px;
	height: 17px;
	width: 54px;
	background: url("../img/star.svg") repeat;
}

.hotel-stars-3{
	display: inline-block;
	margin-left: 80px;
	margin-bottom: 48px;
	height: 17px;
	width: 35px;
	background: url("../img/star.svg") repeat;
}

.hotel-rating {
	padding: 3px 16px;
}

/*Оформление фильтра стоимости*/

.price-in-day {
	display: flex;
	flex-direction: column;
	margin-top: 18px;
	margin-left: 190px;
	width: 318px;
	color: #ffffff;
}

.price-in-day-text {
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 9px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background:  #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	width: 318px;
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.range-controls .range-toggle:focus,
.range-controls .range-toggle:hover {
  border: 10px solid #fff;
}

.field-group-button {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	text-transform: inherit;
	outline: none;
	cursor: pointer;
	color: #ffffff;
}

.field-group-button:hover,
.field-group-button:focus {
	background-color: #ffffff;
	color: #333333;
}
