html,
body {

	font-family: "Arial", sans-serif, "PT Sans";
    min-width: 1200px;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 21px;
    font-weight: normal;
}

h1 .promo-title{
	color: #333333;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: bold;
}

h2 .reason-title{
	color: #FFFFFF;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 21px;
    font-weight: bold;
}

h2 .offers-title{
	color: #333333;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 21px;
    font-weight: bold;
}

h2 .info-structure-title{
	color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 21px;
    font-weight: bold;
}

h3 .results-title{
	color: #333333;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: normal;
}

h3 .hotel-title{
	color: #333333;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: bold;
}





